<launch>
  <arg name="is_sim" default="true" />

  <rosparam file="$(find rrr_arm)/config/trajectory_controllers.yaml" command="load" />
  <rosparam file="$(find rrr_arm)/config/joint_state_controllers.yaml" command="load" /> 

  <param name="robot_description"  textfile="$(find rrr_arm)/urdf/rrr_arm.urdf" />

  <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false" output="screen" ns="rrr_arm"
      args="arm_controller gripper_controller joint_state_controller" />

   <node name="robot_state_publisher" pkg="robot_state_publisher"  type="robot_state_publisher" respawn="true" output="screen">
      <remap from="/joint_states" to="/rrr_arm/joint_states" /> 
   </node>
    

</launch>